*{
    padding: 0;
    margin: 0;
    --color-danger: #dc3545;
    --color-success : #198754;
    --white-main:#e4e9e9;
    --color-o:#fd7e14;
    --transition-main: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body {
    margin: 0 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 0.88rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    text-align: left !important;
    background: #0F2027 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient( 10.948rad, rgb(7, 7, 9) 6.5%, rgb(27, 24, 113) 93.2% ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .row {
    width: 100%;
}

#inside {
    padding: 0;
    padding-right: 5px;
}

.container .form {
    border-radius: 2px;
}
.container .form .input {
    padding: 10px;
    background-color: #dcd7d7;
    outline: none;
    border-radius: 3px;
    border: none;
    caret-color: var(--color-danger);
}

#text {
    width: 100%;
}
#color-line {
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

#label-form {
  background-color: #dcd7d7;
  outline: none;
  border-radius: 3px;
  border: none;
  caret-color: var(--color-danger);
  margin-top: 5px;
}
#label-form input[type="text"]{
    background: none;
    border: none;
    outline: none;
}
#label {
    width: 70%;
}
#color-picker {
    border: none;
    background-color: transparent;
    width: 30%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

#name {
    width: 100%;
}
.container .col-lg-6:first-of-type {
    background-color: var(--white-main);
    border-radius: 3px;
}
figure {
    margin-top: 3px !important;
    margin-bottom: 0;
}
.container .form #submit {
    padding: 10px;
    color: white;
    background-color: #184496cf;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    transition: var(--transition-main);
}
.container .form #submit:hover {
    transform: scale(1.010);
    background-color: #073996e2;

}
@keyframes animate {
    from{
        width: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        width: 180px;
    }
}
#inputDone {
    background-color: var(--white-main);
    border: none;
    width: fit-content;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    animation: animate 1s ease-in-out alternate 1;
    margin-right: 5px;
}

.tasks .header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 50px;
    background-color: var(--white-main);
}
.tasks .header .task-head {
    margin:0 ;
    font-size: 18px;
}
.tasks .header i {
    font-size: 18px;
}
.tasks .todo {
    background-color: var(--white-main);
}
.tasks .todo:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tasks .todo .row.fir{
    border-bottom: 1px solid #495057;
    position: relative;
}
.tasks .todo .row.fir.show {
    animation: fade-in 0.5s ease-in-out alternate 1;

}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.tasks .todo .row.fir  {
    border-top: 1px solid #495057;
    border-bottom: 0;
}

button i {
    pointer-events: none;
}

.edit i{
    color: var(--color-o) ;
}
.delete i {
    color: var(--color-danger);
}
.finished i {
    color: var(--color-success);
}
.finished:hover {
    background-color: var(--color-success);
}
.delete:hover {
    background-color: var(--color-danger);
}

.edit:hover {
    background-color: var(--color-o) ;
}
.edit:hover i ,.finished:hover i:last-of-type ,.delete:hover i {
    color: #dcd7d7 !important;
}


i {
   transition: var(--transition-main);
}


.left .color {
    height: 45px;
    width: 5px;
    opacity: 0.85;
    background-color: #9e1818;
}

.form-check {
    margin-bottom: 0 !important;
    min-height: auto !important;
}
.form-check .form-check-input{
    width: 18px;
    height: 18px;
}
.blockquote-footer{
    font-size: 0.775em !important;
    margin-top: 0 !important;
}

.first-child .value {
    margin-bottom:0 !important ;
    color: #000000;
}



.btun {
    display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: var(--transition-main);
  padding-top: 15px;
  padding-bottom: 15px;
}
.fa-hand-pointer{
    position: absolute;
    color: #358049 !important;
    font-size: 20px;
    left: 15px;
    bottom: -10px;
    display: none !important;
    animation: up-down 0.7s ease-in-out alternate infinite;
}
.fa-hand-pointer.active {
    display: block !important;
}

@keyframes up-down {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.noactive {
    pointer-events: none;
    opacity: 0.5;
}

.submit {
    display: flex;
    justify-content: center  ;
    align-items: center ;
}

.last {
    padding: 0;
}
@media (max-width:576px){
    .element {
        padding: 0;
    }
    #text {
        font-size: 12px;
    }
  #name {
    max-width: 100%;
    font-size: 12px;
  }
  #inside {
    padding: 0;
    margin-left: 5px;
  }
  #label {
    max-width: 70%;
    font-size: 12px;
  }
  .submit {
    margin-top: 10px;
    padding: 0;
  }
  #submit {
    padding: 5px !important;
    width: 100%;
  }
  .last {
    padding: 0;
    margin-top: 5px;
  }
  .row.fir {
    padding: 0 !important;
    padding-top: 10px !important;
  }
  .value {
    font-size: 11px;
  }
  #inputDone {
    font-size: 11px;
    animation: animate-1 0.7s ease-in-out alternate 1;
    width: auto;
  }
  .first {
    overflow: hidden;
  }
  .fa-hand-pointer{
    left: 30px;
  }
  .btun {
    padding: .375rem .75rem;
  }
}

@keyframes animate-1 {
    from{
        width: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        width: 137px;
    }
}